# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
venv/
env/
.venv/

# -----------------------------
# Password Manager data
# -----------------------------
passwords.json
salt.key
verify.key
password_manager.log

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# PyCharm
# -----------------------------
.idea/

# -----------------------------
# Operating System files
# -----------------------------
.DS_Store
Thumbs.db